<div class="container">
  <div class="skin" style="margin-top: -90px;" data-bs-toggle="modal" data-bs-target="#skinModal">
    <img src="./assets/svg/avatar.svg" alt="Avatar" />
  </div>
  <app-avatar-page></app-avatar-page>
  <form class="form">

    <input type="text" placeholder="Nombre">
    <div class="button-container">
      <button type="button" class="secondary-button" routerLink="/cuartos">
        <img src="./assets/svg/door.svg" alt="">
        <span>Cuartos</span>
      </button>

      <button class="primary-button">
        <img src="./assets/svg/control.svg" alt="">
        <span>Juega</span>
      </button>
      <button type="button" class="secondary-button" routerLink="/crearCuarto">
        <img src="./assets/svg/llaveCrear.svg" alt="">
        <span>Crear sala </span>
      </button>

    </div>
  </form>
</div>
